.main-content {
  max-width: 700px;
  margin: auto;
  padding: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  min-height: 950px;
}

.headshot {
  height: 300px;
  float: right;
  margin: 16px;
  border-radius: 50%;
}